body {
  font-family: "Courier New", Courier, monospace;
  background: #cce9fb;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 100;
  line-height: 18.8px;
  margin-bottom: 40px;
}

h2 {
  font-size: 22px;
  text-align: left;
  font-weight: 100;
  line-height: 28.8px;
  color: black;
  margin-bottom: 5px;
  margin-top: 2px;
}

select {
  display: block;
  margin-top: 10px;
  width: 585px;
  padding: 9px;
  font-size: 15px;
  border-radius: 8px;
}

footer {
  font-size: 14px;
  text-align: center;
  display: block;
  margin: 30px auto;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 40px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(129, 198, 235, 0.27);
  -moz-box-shadow: 10px 10px 5px 0px rgba(129, 198, 235, 0.27);
  box-shadow: 10px 10px 5px 0px rgba(129, 198, 235, 0.27);
  background-image: linear-gradient(to right top, #c4e5fb, #f4fbff);
  border-radius: 15px;
  border: 1px solid #b3dcf3;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed grey;
}

.city:last-child {
  border: none;
  margin-bottom: -10px;
}

.time {
  font-size: 50px;
  font-weight: bold;
}

.time small {
  font-size: 27px;
  line-height: 36px;
  vertical-align: middle;
}
